nav {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  :hover {
    // color: rgb(255, 223, 40);
    text-decoration: underline overline;
    // text-decoration-thickness: 5px;
  }
}
