.about {
  height: 100vh;
  margin-top: -75px;
  padding: 200px 100px 0px 100px;
  background-image: linear-gradient(to right, #5f6184c4, #5f6184c4),
    url(../images/purple-bg.jpg);

  color: white;

  h1 {
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
  }

  .about-content {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .about-img {
      margin-top: 100px;
      min-width: 400px;
      min-height: 400px;
      background-image: url(../images/profile-thumb.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      border: white 5px solid;
    }

    .about-paragraph {
      width: 620px;
      font-size: 19px;
      margin-top: 150px;

      .list {
        display: flex;
        justify-content: space-between;
        padding-right: 130px;

        ul {
          margin-top: 20px;
          margin-left: 50px;
          li {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .about {
    padding: 200px 20px;
    h1 {
      margin-bottom: 130px;
    }
    .about-content {
      flex-direction: column;

      .about-paragraph {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .about {
    h1 {
      font-size: 30px;
    }

    .about-content {
      .about-img {
        min-width: 300px;
        min-height: 300px;
      }
      .about-paragraph {
        width: 100%;
      }
    }
  }
}
